@import './base.css';

#app {
  font-weight: normal;
  flex: 1;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.nav-bar-container {
  /* background-image: url("./img/shuidian/top1.png") !important; */
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;

}

.flex {
  display: flex;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sr {
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.content {
  background-color: #ffffff;
  padding: 10px 20px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rel {
  position: relative;
}

.whiteBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(227, 222, 221, 0.6);
  z-index: 9999;
}

.twoRow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;


}

/* 主色调按钮 */
.mainBtnTitle{
  background-color: #cdbca6;
  border-radius: 8px;
  padding: 3px 15px;
  width: fit-content;
  letter-spacing: 2px;
}
.mainBtn {
  background-color: #f1e6d8;
  border-radius: 8px;
  padding: 3px 15px;
  width: fit-content;
  letter-spacing: 2px;
  cursor: pointer;
 
}